<head>
    <!--link css-->
    
    <!--fine link css-->
    <!--icon-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/3163/3163508.png" type="image/x-icon">
    <title>Registrazione</title>

</head>

    <header>
        <!--nav-->
        <div class="nav container">
            <!--logo-->
            <div><img src="https://cdn-icons-png.flaticon.com/512/1038/1038100.png" class="logo-img"></div>
            <a routerLink="home" class="logo">

                Ciak <span id="cong">& </span><span>Azione</span>
            </a>

            <!--campo ricerca-->
            <div class="search-box">
                <input type="search" name="" id="search-input" placeholder="cerca film">
                <i class='bx bx-search'></i>
            </div>
            <!--user-->
            <a routerLink="login" class="user">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="user" class="user-img">
            </a>
            <!--carrello-->
            <img src="https://cdn-icons-png.flaticon.com/512/1170/1170576.png" class="carrello">
        </div>
    </header>