label {
    color: chocolate;
}
/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
}

:root{

    --main-color:#ffb43a;
    --hover-color:#976310;
    --body-color:black;
    --container-color:#2d2e37;
    --text-color:#fcfeff;
}
#cong{
    color: #976310;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.bx{
    cursor: pointer;
}
.container{
    max-width: 1068px;
    margin:auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:black;
    z-index: 100;
    padding-top: 1%;

}
.logo{
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
    margin-left: 1%;
    
    }
    .logo{
        color:#ffb43a;
        
    
    }
    img.carrello{
        width: 40px;
        height: 40px;
        border-radius: 3px;
        margin-left: 50px;
        margin-right: -120px;
    }
    img.carrello:hover{
        transition: 0,3s all linear;
        transform: scale(1.1);
    }
    .search-box{
        max-width: 240px;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 0.7rem;
        padding:8px 15px;
        background: #2d2e37;
        border-radius: 2rem;
        margin-right: 1%;
        padding-bottom: 1px;
        margin-bottom: 1%;
        
    }
        
    .search-box  .bx:hover{
    color: #ffb43a;
    transition: 0,3s all linear;
        transform: scale(1.1);
    }
    #search-input{
        width: 100%;
        border:none;
        outline:none;
        color:white;
        background: transparent;
        font-size: 0.938rem;
        padding-bottom: 1%;
    }
    .user{
        display: flex;
    }
    .user-img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-top: -0,5%;
    }
    .user-img :hover{
        transition: 0,3s all linear;
        transform: scale(1.1);
    }
    .logo-img{
        width: 45px;
        height: 45px;
        padding: 2px;
        margin-right: 2%;
        
        
        
    }
    .logo-img:hover{
        transition: 0,3s all linear;
        transform: scale(1.1);
    }
    span{
        color: rgb(255, 196, 0);
    }
    .nav{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px,0;
        
    }
    .search-box  .bx:hover{
        color: #ffb43a;
    }
    @media screen and (min-width: 2560px) {
        #search-input{
            width: 100%;
            border:none;
            outline:none;
            color:white;
            background: transparent;
            font-size: 0.938rem;
            padding-bottom: 1%;
        }
        .user{
            display: flex;
        }
        .user-img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            margin-top: -0,5%;
        }
        .logo{
            font-size: 1.4rem;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0 auto 0 0;
            margin-left: -50%;
            
            }
            .logo-img{
                width: 45px;
                height: 45px;
                padding: 2px;
                margin-right: 2%;
                margin-left: -1215%;
                
                
                
            }
            img.carrello{
                width: 40px;
                height: 40px;
                border-radius: 3px;
                margin-left: 50px;
                margin-right: -65%;
            }
            .search-box{
                max-width: 240px;
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 0.7rem;
                padding:8px 15px;
                background: #2d2e37;
                border-radius: 2rem;
                margin-right: 1%;
                padding-bottom: 1px;
                margin-bottom: 1%;
                
            }
    }
    @media screen and (min-width: 640px) {
        #search-input{
            width: 100%;
            border:none;
            outline:none;
            color:white;
            background: transparent;
            font-size: 0.938rem;
            padding-bottom: 1%;
        }
        .user{
            display: flex;
        }
        .user-img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            margin-top: -0,5%;
        }
        .logo{
            font-size: 1.4rem;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0 auto 0 0;
            margin-left: 5%;
            
            }
            .logo-img{
                width: 45px;
                height: 45px;
                padding: 2px;
                margin-right: 2%;
                margin-left: 30%;
                
                
                
            }
            img.carrello{
                width: 40px;
                height: 40px;
                border-radius: 3px;
                margin-left: 50px;
                margin-right: -65%;
            }
            .search-box{
                max-width: 240px;
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 0.7rem;
                padding:8px 15px;
                background: #2d2e37;
                border-radius: 2rem;
                margin-right: 1%;
                padding-bottom: 1px;
                margin-bottom: 1%;
                
            }
    }
    @media screen and (min-width: 1024px) {
        #search-input{
            width: 100%;
            border:none;
            outline:none;
            color:white;
            background: transparent;
            font-size: 0.938rem;
            padding-bottom: 1%;
        }
        .user{
            display: flex;
        }
        .user-img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            margin-top: -0,5%;
        }
        .logo{
            font-size: 1.4rem;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0 auto 0 0;
            margin-left: 5%;
            
            }
            .logo-img{
                width: 45px;
                height: 45px;
                padding: 2px;
                margin-right: 2%;
                margin-left: 60%;
                
                
                
            }
            img.carrello{
                width: 40px;
                height: 40px;
                border-radius: 3px;
                margin-left: 50px;
                margin-right: 15%;
            }
            .search-box{
                max-width: 240px;
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 0.7rem;
                padding:8px 15px;
                background: #2d2e37;
                border-radius: 2rem;
                margin-right: 1%;
                padding-bottom: 1px;
                margin-bottom: 1%;
                
            }
    }
    @media screen and (min-width: 1280px) {
        #search-input{
            width: 100%;
            border:none;
            outline:none;
            color:white;
            background: transparent;
            font-size: 0.938rem;
            padding-bottom: 1%;
        }
        .user{
            display: flex;
        }
        .user-img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            margin-top: -0,5%;
        }
        .logo{
            font-size: 1.4rem;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0 auto 0 0;
            margin-left: 2%;
            
            }
            .logo-img{
                width: 45px;
                height: 45px;
                padding: 2px;
                margin-right: 2%;
                margin-left: 20%;
                
                
                
            }
            img.carrello{
                width: 40px;
                height: 40px;
                border-radius: 3px;
                margin-left: 50px;
                margin-right: -7%;
            }
            .search-box{
                max-width: 240px;
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 0.7rem;
                padding:8px 15px;
                background: #2d2e37;
                border-radius: 2rem;
                margin-right: 1%;
                padding-bottom: 1px;
                margin-bottom: 1%;
                
            }
    }
    @media screen and (min-width: 1920px) {
        #search-input{
            width: 100%;
            border:none;
            outline:none;
            color:white;
            background: transparent;
            font-size: 0.938rem;
            padding-bottom: 1%;
        }
        .user{
            display: flex;
        }
        .user-img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            margin-top: -0,5%;
        }
        .logo{
            font-size: 1.4rem;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0 auto 0 0;
            margin-left: -24%;
            
            }
            .logo-img{
                width: 45px;
                height: 45px;
                padding: 2px;
                margin-right: 2%;
                margin-left: -600%;
                
                
                
            }
            img.carrello{
                width: 40px;
                height: 40px;
                border-radius: 3px;
                margin-left: 50px;
                margin-right: -38%;
            }
            .search-box{
                max-width: 240px;
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 0.7rem;
                padding:8px 15px;
                background: #2d2e37;
                border-radius: 2rem;
                margin-right: 1%;
                padding-bottom: 1px;
                margin-bottom: 1%;
                
            }
    }
    @media screen and (min-width: 640px) {
        #search-input{
            width: 100%;
            border:none;
            outline:none;
            color:white;
            background: transparent;
            font-size: 0.938rem;
            padding-bottom: 1%;
        }
        .user{
            display: flex;
        }
        .user-img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            margin-top: -0,5%;
        }
        .logo{
            font-size: 1.4rem;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0 auto 0 0;
            margin-left: 3%;
            
            }
            .logo-img{
                width: 45px;
                height: 45px;
                padding: 2px;
                margin-right: 2%;
                margin-left: 10%;
                
                
                
            }
            img.carrello{
                width: 40px;
                height: 40px;
                border-radius: 3px;
                margin-left: 50px;
                margin-right: 5%;
            }
            .search-box{
                max-width: 240px;
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 0.7rem;
                padding:8px 15px;
                background: #2d2e37;
                border-radius: 2rem;
                margin-right: 1%;
                padding-bottom: 1px;
                margin-bottom: 1%;
                
            }
    }
    @media screen and (min-width: 1920px) {
        #search-input{
            width: 100%;
            border:none;
            outline:none;
            color:white;
            background: transparent;
            font-size: 0.938rem;
            padding-bottom: 1%;
        }
        .user{
            display: flex;
        }
        .user-img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            margin-top: -0,5%;
        }
        .logo{
            font-size: 1.4rem;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0 auto 0 0;
            margin-left: -24%;
            
            }
            .logo-img{
                width: 45px;
                height: 45px;
                padding: 2px;
                margin-right: 2%;
                margin-left: -600%;
                
                
                
            }
            img.carrello{
                width: 40px;
                height: 40px;
                border-radius: 3px;
                margin-left: 50px;
                margin-right: -35%;
            }
            .search-box{
                max-width: 240px;
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 0.7rem;
                padding:8px 15px;
                background: #2d2e37;
                border-radius: 2rem;
                margin-right: 1%;
                padding-bottom: 1px;
                margin-bottom: 1%;
                
            }
    }
    @media screen and (min-width: 1360px) {
        #search-input{
            width: 100%;
            border:none;
            outline:none;
            color:white;
            background: transparent;
            font-size: 0.938rem;
            padding-bottom: 1%;
        }
        .user{
            display: flex;
        }
        .user-img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            margin-top: -0,5%;
        }
        .logo{
            font-size: 1.4rem;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0 auto 0 0;
            margin-left: -1%;
            
            }
            .logo-img{
                width: 45px;
                height: 45px;
                padding: 2px;
                margin-right: 2%;
                margin-left: -60%;
                
                
                
            }
            img.carrello{
                width: 40px;
                height: 40px;
                border-radius: 3px;
                margin-left: 50px;
                margin-right: -10%;
            }
            .search-box{
                max-width: 240px;
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 0.7rem;
                padding:8px 15px;
                background: #2d2e37;
                border-radius: 2rem;
                margin-right: 1%;
                padding-bottom: 1px;
                margin-bottom: 1%;
                
            }
    }