<div id="card">
   <div id="logo"><img src="https://cdn-icons-png.flaticon.com/512/720/720245.png" id="img"></div>
   <form [formGroup]="mioform" (ngSubmit)="invio()">
      <label>Codice Coupon:</label><br>
      <input type="text" formControlName="codiceCoupon" name="codiceCoupon" id="codiceCoupon"><br><br>
      <label>valore</label><br>
      <input type="number" min="1" formControlName="valoreCoupon" name="valoreCoupon" id="valoreCoupon"><br>
      <label>Seleziona il film a cui applicare il Coupon</label><br>
      <select formControlName="film" name="film" id="film">
   <option  *ngFor="let sp of spettacolo" value={{sp?.getId_spettacolo()}}> {{sp?.getFilm()}} Data:{{sp?.getDataSpettacolo()}} orario: {{sp?.getOrario()}}
         </option>
        
       </select><br> 
        <button  type="Submit">Invia</button><br>
   </form>
   <a routerLink="/admin">Torna al Pannello admin</a>
</div>