<div id="card">
    <div id="barra"><img src="https://cdn-icons-png.flaticon.com/512/1170/1170576.png" class="carrello">Carrello<div><a routerLink="/home" id="link">Torna in Home</a></div></div>
    

    <table [cellSpacing]="40">
        
        <tr>
            <td></td>
            <td id="det">Nome film</td>
            <td id="det">Orario</td>
            <td id="det">Data</td>
            <td id="det">Prezzo</td>  
        </tr>
        <tr id="spettacoli">
            <td><img src="https://cdn-icons-png.flaticon.com/512/3270/3270184.png" id="cimg"></td>
            <td id="det">Avatar</td>
            <td id="det">18:30</td>
            <td id="det">15/05/2022</td>
            <td id="det">5 EURO</td>
        </tr>
        <td id="spettacoli"><img src="https://cdn-icons-png.flaticon.com/512/3270/3270184.png" id="cimg"></td>
            <td id="det">Avatar</td>
            <td id="det">18:30</td>
            <td id="det">15/05/2022</td>
            <td id="det">5 EURO</td>
    </table>


    
</div>
