#card{
background-color: black;
border-color: chocolate;
border:solid;
border-radius: 8%;
border-width: 2px;
align-items: center;
margin-top:7%;
margin-left: 14%;
margin-right: 10%;
color: chocolate;
padding: 2%;


}
#cimg{
width: 80px;
height: 80px;
}


table{
    border-width: 2px;
    border-color: white;
    font-size: larger;
    padding-right: 8%;
    background-color: rgb(31, 26, 26);
    border-radius: 5%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    
}
#selection{
    background-color: rgb(29, 24, 24);
    border-color: aliceblue;
    border:solid;
    border-radius: 5%;
    border-width: 2px;
    padding: 1%;
    font-size: larger;

}
label{
    padding: 3%;
    margin:2%;
}
#nome{
    margin-left: 11%;
}
#link{
    margin-left: 80%;
    margin-bottom: 5%;
    text-decoration: none;
    padding-bottom: 5%;
    background-color: rgb(32, 30, 30);
    color:chocolate;
    font-size: medium;
    border-color: white;
    border-width: 0.5px;
    border-radius:13%;
    padding: 1%;
    border:solid;
    margin-top: -50%;
}
#barra{
   display: inline;
   font-size: larger;
   padding: 1%;

}
.carrello{
    width: 40px;
    height:40px;
    margin-right: 1%;
}


   

