<div id="card">
    <div id="barra"><img src="https://cdn-icons-png.flaticon.com/512/1170/1170576.png" class="carrello">Carrello<div><a routerLink="/home" id="link">Torna in Home</a></div></div>
    

    <table [cellSpacing]="40">
        
        <tr>
            <td></td>
            <td id="det">Nome film</td>
            <td id="det">Orario</td>
            <td id="det">Data</td>
            <td id="det">Prezzo</td>  
        </tr>
        <tr id="spettacoli">
            <td><img src="https://cdn-icons-png.flaticon.com/512/3270/3270184.png" id="cimg"></td>
            <td id="det">Avatar</td>
            <td id="det">18:30</td>
            <td id="det">15/05/2022</td>
            <td id="det">5 EURO</td>
        </tr>
        <td id="spettacoli"><img src="https://cdn-icons-png.flaticon.com/512/3270/3270184.png" id="cimg"></td>
            <td id="det">Avatar</td>
            <td id="det">18:30</td>
            <td id="det">15/05/2022</td>
            <td id="det">5 EURO</td>
    </table>
    
    <form #mioform="ngForm" (ngSubmit)="invio(mioform)">
        <div id="cimg"><img src="https://cdn-icons-png.flaticon.com/512/1038/1038100.png" id="imglogo"></div>
        <div id="testo"><h1>Registrati <span> E </span> Conferma Pagamento </h1></div>
        <label for="nome">Nome</label>
       <input type="text" id="Nomeid" #NomeForm name="nome" ngModel placeholder="Inserisci nome" required >
      <br> <label for="cognome">Cognome</label>
       <input type="text" id="Cognomeid" #CognomeForm name="cognome" ngModel placeholder="Inserisci Cognome" required>
      <br> <label for="Email">Email</label>
       <input type="email" id="Emailid" #EmailForm  name="email" ngModel placeholder="Inserisci Email" required>
       <br><label for="Telefono">Data di nascita</label>
       <input type="date" id="nascitaid" #nascitaForm name="data di nascita" ngModel placeholder="data">
       <br><label for="password">Password</label>
       <input type="text" id="passwordid" #passwordForm name="password"  ngModel placeholder="password" required>
       <br><button type="submit" [disabled]="!mioform.form.valid"> Invia</button>
    </form>
    <button id="btnPaga">Paga Ora</button>

    
</div>
