<div id="card">
    <table>
        <tbody>
            <tr>
                <td><img src={{moviedetail?.getPoster()}} class="locan" alt=""></td>
                <!--TODO: si deve sistemare la dimensione del post esce troppo grande-->
                <td>
                    <h1 id="title"> {{moviedetail?.getOrginaltitle()}}</h1>
                    <h1>Descrizione:</h1>
                    <p>{{moviedetail?.getOverview()}}</p>
                </td>
            </tr>
            <tr *ngFor="let dettagli of dettagliSpettacolo">

                <td><img src="https://cdn-icons-png.flaticon.com/512/390/390134.png" id="ticket">Prezzo biglietto
                    <span>{{dettagli?.getPrezzoSpettacolo()}}</span></td>
                <td><select name="date" id="selec">
                        <option value={{dettagli?.getDataSpettacolo()}}> {{dettagli.getDataSpettacolo()}}</option>

                    </select>
                </td>
                <td> <select name="0rari" id="selec">
                        <option value={{dettagli.getOrario()}}>{{dettagli.getOrario()}}</option>

                    </select> </td>
                <td> <label>Numero Posti :</label>
                    <input type="number" id="num" min="1">
                    <button id="btn">Vai al Pagamento</button>
                </td>

            </tr>
        </tbody>
    </table>


</div>