<div id="card">
    <div id="cimg">
     <!-- <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" id="imglogo"><br>
        <label>Il tuo Profilo:</label><br><br>
        <label>Nome:</label><br><br>
        <label> {{utente?.getNome()}}</label><br><br>
        <label>Cognome:</label><br><br>
        <label>{{utente?.getCognome()}}</label><br><br>
        <label>Email:</label><br><br>
        <label>{{utente?.getEmail()}}</label><br><br>
        <label>Data di nascita:</label><br><br>
        <label>{{utente?.getDatadiNascita()}}</label><br><br> --> 
    </div>
</div>