<div id="card">
    <div id="cimg">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" id="imglogo"><br>
    <label>Nome:</label><br><br>
    <label>pino</label><br><br>
    <label>Cognome:</label><br><br>
    <label>scotti</label><br><br>
    <label>Email:</label><br><br>
    <label>ggggggg@gmail.com</label><br><br>
    <label>Data di nascita:</label><br><br>
    <label>15/06/2022</label><br><br>
    <label>Data di registrazione:</label><br><br>
    <label>15/06/2022</label><br>
</div>
</div>
