<form [formGroup]="mioform" (ngSubmit)="invio()">
    <div id="cimg"><img src="https://cdn-icons-png.flaticon.com/512/1038/1038100.png" id="imglogo"></div>
    <div id="testo">
        <h1>Registrati<span>Ora</span></h1>
    </div>
    <label for="nome">Nome</label>
    <input type="text" id="Nomeid" formControlName="nome" name="nome" placeholder="Inserisci nome" required>
    <br> <label for="cognome">Cognome</label>
    <input type="text" id="Cognomeid" formControlName="cognome" name="cognome" placeholder="Inserisci Cognome" required>
    <br> <label for="Email">Email</label>
    <input type="email" id="Emailid" formControlName="email" name="email" placeholder="Inserisci Email" required>
    <br><label for="Telefono">Data di nascita</label>
    <input type="date" id="nascitaid" formControlName="dataDiNascita" name="data di nascita" placeholder="data"
        [max]="date">
    <br><label for="password">Password</label>
    <input type="password" id="passwordid" formControlName="password" name="password" placeholder="password" required>

    <br><button type="submit"  [disabled]="mioform.invalid"> Invia</button>
    <h3><a routerLink="/login">Accedi <span>Ora</span></a></h3>

</form>