
<!--link google-->
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<div id="container">
   <div id="insala"><h3>in sala oggi</h3>
   </div> 
   <div id="imgcont">
    <img src="https://cdn1.thespacecinema.it/-/media/tsc/2022/09/avatar-release-2022/locandina.jpg?h=472" id="locan" alt="" routerLink="film" >
    
    <img src="https://cdn1.thespacecinema.it/-/media/tsc/2022/09/dante/locandina.jpg?h=472" id="locan">
   
    <img src="https://cdn1.thespacecinema.it/-/media/tsc/2022/09/dragon-ball-super-super-hero/locandinadef.jpg?h=472" id="locan">
    
</div>
<div id="insala"><h3>in Uscita</h3>
</div> 
<div id="imgcont">
    <img src="https://cdn1.thespacecinema.it/-/media/tsc/2022/10/everything-everywhere-all-at-once/locandina.jpg?h=472" id="locan">
    
    <img src="https://cdn1.thespacecinema.it/-/media/tsc/2022/10/hatching-la-forma-del-male/locandina.jpg?h=472" id="locan">
    
    <img src="https://cdn1.thespacecinema.it/-/media/tsc/2022/10/quasi-orfano/locandina.jpg?h=472" id="locan" >
    
</div>
</div>