<!--link google-->
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<div id="container">
    <div id="insala">
        <h3>in sala oggi</h3>
    </div>
    <div id="imgcont">
        <img *ngFor="let user of movieNowPlaying?.getRisultato()" src={{user.aposter_path()}} id={{user.aid()}} ialt=""
        [routerLink]="['/film',user.aid()]"  class="locan">
    </div>
    <div id="insala">
        <h3>in Uscita</h3>
    </div>
    <div id="imgcont">
        <img *ngFor="let user of movieUpComing?.getRisultato()" src={{user.aposter_path()}} id={{user.aid()}} ialt=""
        [routerLink]="['/film',user.aid()]"  class="locan">
    </div>
</div>