<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
 <!--nav bar -->
 <div class="navbar">
 <a routerLink="/home" class="nav-link nav-action">
     <i class='bx bx-home'></i>
     <span class="nav-link-title">Home</span>
 </a>
 <a routerLink="#home" class="nav-link">
     <i class='bx bx-film'></i>
     <span class="nav-link-title">Film</span>
 </a>
 <a routerLink="#home" class="nav-link">
     <i class='bx bxs-movie-play'></i>
     <span class="nav-link-title">In sala oggi</span>
 </a>
 <a  *ngIf="loggatovalie==='1' || loggatovalie==='2'" routerLink="/profilo" class="nav-link">
     <i class='bx bx-user'></i>
     <span class="nav-link-title">profilo</span>
 </a>
 <a routerLink="/contattaci" class="nav-link">
     <i class='bx bx-user-pin'></i>
     <span class="nav-link-title">Contattaci</span>
 </a>
 <a *ngIf="loggatovalie==='2'"routerLink="admin" class="nav-link" >
    <i class='bx bx-cog'></i> 
     <span class="nav-link-title">Admin Pannello</span>
 </a>
 </div>

 
