<div id="card">
    <div id="title"><div id="titlelogo"><img src="https://cdn-icons-png.flaticon.com/512/720/720245.png" id="img"></div><h2>Pannello Amministratore</h2></div>
   <div id="selection">
    <label>Visualizza Prenotazioni</label><br><br>
   <a routerLink="/prenotazioni">Vai alla Sezione</a>
   </div>
   <div id="selection">
    <label>inserisci Film</label><br><br>
   <a routerLink="/addfilm">Vai alla Sezione</a>
   </div>
  <div id="selection">
    <label>inserisci Coupon</label><br><br>
   <a routerLink="/coupon" >Vai alla Sezione</a>
  </div>
</div>
