<div id="card">
    <div id="logo"><img src="https://cdn-icons-png.flaticon.com/512/720/720245.png" id="img"></div>
   <form>
    <label for="film">film:</label><br>

    <select name="film" id="film">
      <option value="prova1">Prova1</option>
      <option value="prova2">Prova2</option>
      <option value="prova3">Prova3</option>
      <option value="prova4">Prova4</option>
    </select><br>
    <label for="film">Sala:</label><br>

    <select name="sala" id="sala">
      <option value="prova1">sala1</option>
      <option value="prova2">sala2</option>
      <option value="prova3">sala3</option>
      <option value="prova4">sala4</option>
    </select><br>
    <label for="film">Prezzo:</label><br>

    <select name="prezzo" id="prezzo">
      <option value="prova1">prezzo1</option>
      <option value="prova2">Prezzo2</option>
      <option value="prova3">Prezzo3</option>
      <option value="prova4">Prezzo4</option>
    </select><br>
    <button>conferma</button>
        </form>
        <a routerLink="/admin">Torna al Pannello admin</a>
        </div>
           