#card{
    background-color: black;
    border-color: chocolate;
    border:solid;
    border-radius: 5%;
    border-width: 1px;
    margin-left:15%;
    margin-right:10%;
    margin-top:7%;
    color: blanchedalmond;
    padding-left: 1%;
    align-content: center;
    align-items: center;
    padding-bottom: 5%;

}
#selec{
    color: chocolate;
    width: 50%;
    padding-bottom: 1%;

}
label{
    color: chocolate;
    padding-top: 1%;
}
form{
   margin-top: 2%;
   margin-bottom: 5%;
   margin-right: 45%;
   margin-left: 39%;
   font-size: 30px;
   width: 50%;
}
#img{
    width: 100px;
    height: 100px;
    margin-top: 1%;
}
#logo{
    margin-right: 45%;
    margin-left:43%;
    margin-top: 1%;
}
button{
    background-color: chocolate;
    color: black;
    font-weight: 700;
    border-color: aliceblue;
    border:solid;
    border-width: 2px;
    border-radius: 5%;
}
a{
    text-decoration: none;
    background-color: rgb(31, 28, 28);
    color: chocolate;
    border:solid;
    border-width: 1px;
    border-color: white;
    border-radius: 8%;
    padding: 2%;
    margin-bottom: 5%;
    margin-left: 38.5%;
    margin-top: 20%;
}