<div id="card">
  <div id="logo"><img src="https://cdn-icons-png.flaticon.com/512/720/720245.png" id="img"></div>
  <form [formGroup]="mioform" (ngSubmit)="invio()">
    <label for="film">film:</label><br>

    <select formControlName="film" name="film" id="film" >
      <option *ngFor="let film of movieNowPlaying?.getRisultato()"  value={{film.getTitolo()}}>{{film.getTitolo()}}</option>
    </select><br>
    <label for="film">Sala:</label><br>

    <select formControlName="sala" name="sala" id="sala" >
      <option value="prova1">sala1</option>
      <option value="prova2">sala2</option>
      <option value="prova3">sala3</option>
      <option value="prova4">sala4</option>
    </select><br>
    <label for="film">Prezzo:</label><br>

    <input  formControlName="prezzo" type="number"  name="prezzo" id="prezzo" /> 
    <br>
    <label for="fil">Data Proiezione:</label><br>
    <input   formControlName="dataFilm"type="date"  name="dataFilm" id="dataFilm" ><br>
    <button type="Submit">conferma</button>
  </form>
  <a routerLink="/admin">Torna al Pannello admin</a>
</div>