#card{
    background-color: black;
    border-color: chocolate;
    border:solid;
    border-radius: 5%;
    border-width: 1px;
    margin-left:15%;
    margin-right:10%;
    margin-top:7%;
    color: blanchedalmond;
    padding-left: 1%;
    align-content: center;
    align-items: center;

}
#selec{
    color: chocolate;
    width: 50%;
    padding-bottom: 1%;

}
label{
    color: chocolate;
    padding-top: 1%;
}
form{
   margin-top: 2%;
   margin-bottom: 2%;
   margin-right: 45%;
   margin-left: 45%;
   font-size: 30px;
   width: 50%;
}
#img{
    width: 100px;
    height: 100px;
    margin-top: 1%;
}
#logo{
    margin-right: 45%;
    margin-left:43%;
    margin-top: 1%;
}
button{
    background-color: chocolate;
    color: black;
    font-weight: 700;
    border-color: aliceblue;
    border:solid;
    border-width: 2px;
    border-radius: 5%;
}