<div id="card">
    <div id="logo"><img src="https://cdn-icons-png.flaticon.com/512/720/720245.png" id="img"></div>
    <table>
        <tr>
            <td>data prenotazioni</td>
            <td>numero di prenotazioni</td>
            <td>orario prenotazioni</td>
        </tr>
        <tr>
            <td>15/04/2022</td>
            <td>8</td>
            <td>18:30</td>
        </tr>
        <tr>
            <td>16/04/2022</td>
            <td>8</td>
            <td>18:30</td>
        </tr>
        <tr>
            <td>17/04/2022</td>
            <td>8</td>
            <td>18:30</td>
        </tr>
        <tr>
            <td>18/04/2022</td>
            <td>8</td>
            <td>18:30</td>
        </tr>
    </table>
    <a routerLink="/admin">Torna al Pannello admin</a>
        </div>
           

