#card{
    background-color: black;
    border-color: chocolate;
    border:solid;
    border-radius: 5%;
    border-width: 1px;
    margin-left:15%;
    margin-right:10%;
    margin-top:7%;
    color: blanchedalmond;
    padding-left: 1%;
    align-content: center;
    align-items: center;

}

#img{
    width: 100px;
    height: 100px;
    margin-top: 1%;
}
#logo{
    margin-right: 45%;
    margin-left:43%;
    margin-top: 1%;
}