<div id="card">
<form [formGroup]="mioform" (ngSubmit)="invio()">
    <div id="cimg"><img src="https://cdn-icons-png.flaticon.com/512/1038/1038100.png" id="imglogo"></div>
    <div id="testo">
        <h1>Gestione Sala</h1>
    </div>
    <label for="nome">Nome Sala</label>
    <input type="text" id="Nomeid" formControlName="nome" name="nome" placeholder="Inserisci nome sala" required>
    <br><label for="numerSala">Numero posti Sala</label>
    <input type="number" id="numerSala" formControlName="numerSala" name="numerSala" placeholder="inserisci numero posti sala" required min="1">
  
    <br><button type="submit"  [disabled]="mioform.invalid"> Invia</button>

  
  </form>
</div>